
<div *ngIf="campaign" class="form">
  <h2 class="form__title">Campaign Form</h2>
  <form (ngSubmit)="submitForm()" #campaignForm="ngForm" class="form__main" ngNativeValidate>
    <div class="form__main__campaignName">
      <label for="name">Campaign Name:</label>
      <input type="text" id="name" [(ngModel)]="campaign.name" name="name" class="form__main__input" required>
    </div>

    <label for="keywords">Keywords:</label>
    <input type="text" id="keywords" name="keywords" [(ngModel)]="campaign.keywords" class="form__main__input" required />

    <label for="bidAmount">Bid Amount:</label>
    <input type="number" id="bidAmount" name="bidAmount" [(ngModel)]="campaign.bidAmount" class="form__main__input" required />

    <label for="campaignFund">Campaign Fund:</label>
    <input type="number" id="campaignFund" name="campaignFund" [(ngModel)]="campaign.campaignFund" class="form__main__input" required />

    <label for="status">Status:</label>
    <select id="status" name="status" [(ngModel)]="campaign.status" class="form__main__input" required>
      <option value="on">On</option>
      <option value="off">Off</option>
    </select>

    <label for="town">Town:</label>
    <select id="town" name="town" [(ngModel)]="campaign.town" class="form__main__input" required>
      <option *ngFor="let town of towns" [value]="town">{{ town }}</option>
    </select>

    <label for="radius">Radius (km):</label>
    <input type="number" id="radius" name="radius" [(ngModel)]="campaign.radius" class="form__main__input" required />

    <button type="submit" class="form__main__submit">
      {{ isEditing ? 'Save Changes' : 'Submit' }}
    </button>
  </form>
</div>
